body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a23;
  background-image: url("https://image.slidesharecdn.com/diplomadoengestindeseguridadysaludlaboral-160507025053/75/diplomado-en-gestin-de-seguridad-y-salud-laboral-1-2048.jpg");
  background-size: 32%;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #ff204e;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#outputLexico,
#outputSintactico {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
}
